<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head th:replace="~{fragments/layout.html :: head}">
</head>
<body>
<div th:replace="~{fragments/layout.html :: header}"></div>
<!-- MAIN CONTENT - ARTICLE -->
<h1>Edit Article</h1>
<form class="d-flex flex-column gap-2"
      method="post"
      th:action="@{'/blog/edit/' + ${articleId}}"
      th:object="${articleDTO}"
      enctype="multipart/form-data">
    <div class="form-group">
        <label for="title" class="control-label">Title</label>
        <input id="title" th:field="*{title}" class="form-control" />
        <small class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></small>
    </div>
    <div class="form-group">
        <label for="description" class="control-label">Description</label>
        <textarea id="description" th:field="*{description}" class="form-control"></textarea>
        <small class="text-danger" th:if="${#fields.hasErrors('description')}"
               th:errors="*{description}"></small>
    </div>
    <div class="form-group">
        <label for="content" class="control-label">Content</label>
        <textarea id="content" th:field="*{content}" class="form-control"></textarea>
        <small class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></small>
    </div>
    <div class="form-group">
        <label for="picture" class="control-label">Upload Picture</label>
        <!-- keep existing imgUrl in a hidden field -->
        <input type="hidden" th:field="*{imgUrl}" />
        <input name="imageFile" id="picture" class="form-control" type="file">
    </div>
    <div class="form-group">
        <label for="picture2" class="control-label">Upload 2nd Picture</label>
        <!-- keep existing imgUrl in a hidden field -->
        <input type="hidden" th:field="*{imgUrl2}" />
        <input name="imageFile2" id="picture2" class="form-control" type="file">
    </div>
    <div class="form-group">
        <label for="picture3" class="control-label">Upload 3rd Picture</label>
        <!-- keep existing imgUrl in a hidden field -->
        <input type="hidden" th:field="*{imgUrl3}" />
        <input name="imageFile3" id="picture3" class="form-control" type="file">
    </div>
    <div class="form-group">
        <button type="submit" class="button-submit">Save</button>
    </div>

</form>

<a th:href="@{/blog}">Back to list</a>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>