<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments/layout.html :: head}">
</head>

<body>
    <div th:replace="~{fragments/layout.html :: header}"></div>

    <!-- FLASH MESSAGE -->
    <div th:if="${success}" class="alert alert-success" role="alert">
        <span th:text="${success}"></span>
    </div>

    <div th:if="${error}" class="alert alert-error" role="alert">
        <span th:text="${error}"></span>
    </div>

    <!-- MAIN CONTENT - ARTICLE -->
    <article class="d-flex flex-column justify-content-center align-items-center">
        <p sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/blog/create}">
                Create New
            </a>
        </p>
        <div id="article-wrapper">
            <ul class="list-group">
                <li th:each="article: ${articles}"
                    class="list-group-item d-flex flex-column justify-content-center align-items-center"
                    id="one-article">
                    <a th:href="@{'/blog/' + ${article.articleId}}" class="overview-article-link">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <h2 th:text="${article.title}" class="overview-heading"> </h2>
                            <div class="row" id="article-inner-wrapper">
                                <p th:text="${article.description}" class="col-12 col-md-6"></p>

                                <img th:src="@{${#strings.replace(article.imgUrl, '/images/', '/images/thumb_')}}"
                                    class="col-12 col-md-6 image-index" />
                            </div>
                            <p sec:authorize="hasRole('ADMIN')">
                                <a th:href="@{'/blog/edit/' + ${article.articleId}}">Edit</a>
                                <a th:href="@{'/blog/delete/' + ${article.articleId}}">Remove</a>
                            </p>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
    </article>
    <footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>

</html>