<!DOCTYPE html>
<html lang="en" xmlns:th="">

<head th:replace="~{fragments/layout.html :: head}">
</head>

<body>
    <div th:replace="~{fragments/layout.html :: header}"></div>
    <!-- MAIN CONTENT - SERVICES -->
    <article style="margin-top: 150px;">
        <div class="row">
            <div class="services-overview-section col-4 yin-yoga">
                <h1>Specialization</h1>
                <p>Below are the main areas I focus on.</p>
                <ul class="services-list">
                    <li>
                        <h2>Yin Yoga</h2>
                        <div class="row">
                            <p class="services-par col-12"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Suspendisse quam ex, luctus ac nunc
                                in, facilisis eleifend mi. Donec in neque pharetra, feugiat arcu eget, malesuada odio.
                                Aliquam et ligula ac orci euismod bibendum sed nec turpis. Nullam eleifend ornare
                                congue.
                                Quisque elementum lorem pulvinar, congue ipsum a, facilisis nisi. Donec a molestie
                                lorem.</p>
                            <img th:src="@{/images/yinYoga_bigger.png}" class="home-inline-par-icon col-12">
                        </div>
                    </li>
                    <li>
                        <h2>Pranayama</h2>
                    </li>
                    <li>
                        <h2>Meditation</h2>
                    </li>
                    <li>
                        <h2>Hatha Yoga</h2>
                    </li>
                </ul>
            </div>
            <div class="services-overview-section col-4 places">
                <h1>Place</h1>
                <ul class="services-list">
                    <li>
                        <h2>
                            Online Classes
                        </h2>
                    </li>
                    <li>
                        <h2>
                            In Person Classes - Mallorca
                        </h2>
                    </li>
                </ul>
            </div>
            <div class="services-overview-section services-section-last col-4 format">
                <h1>Lesson Format</h1>
                <ul class="services-list">
                    <li>
                        <h2>
                            1 hour of Yin Yoga
                        </h2>
                    </li>
                    <li>
                        <h2>
                            1 hour of Hatha Yoga</h2>
                    </li>
                    <li>
                        <h2>40 minutes Yoga</h2>
                    </li>
                    <li>
                        <h2>1 hour 30 minuts Yoga and Pranayama</h2>
                    </li>
                </ul>
            </div>
        </div>

    </article>
    <footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>

</html>