@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-ExtraBold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: HomemadeApple;
    src: url(../fonts/HomemadeApple-Regular.ttf);
}

@font-face {
    font-family: NothingYouCouldDo;
    src: url(../fonts/NothingYouCouldDo-Regular.ttf);
}

@font-face {
    font-family: BebasNeue;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

/*Whole page, body stylings, general element stylings*/
body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-submit {
    width: 100px;
    height: 50px;
    background-color: #D1EFB5;
    color: #443627;
    border: 1px solid #FF934F;
    font-weight: bold;
    margin: 20px;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-submit:hover {
    background-color: #443627;
    color: #D1EFB5;
}

.button-submit:active {
    border: 2px solid black;
}


/*HEADER stylings*/
body>header {
    background-color: white;
    top: 0;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid #443627;
    z-index: 1050;
}

a.navbar-brand>img {
    width: 65px;
    height: 65px;
    margin: auto 10px auto 10px;
}

@media (min-width: 768px) {
    a.navbar-brand>img {
        width: 70px;
        height: 70px;
    }
}

@media (min-width: 1000px) {
    a.navbar-brand>img {
        width: 75px;
        height: 75px;
    }
}

a.navbar-brand>div {
    font-size: 1.2em;
    font-family: NothingYouCouldDo;
}

@media (min-width: 768px) {
    a.navbar-brand>div {
        font-size: 1.3em;
    }
}

@media (min-width: 1000px) {
    a.navbar-brand>div {
        font-size: 1.4em;
    }
}

a.navbar-brand>div>div.naty {
    font-weight: bold;
}

li.nav-item>a.nav-link {
    font-size: 1em;
    text-transform: uppercase;
    color: black;
    margin: auto 15px auto 15px;

}

li.nav-item>a.nav-link:hover {
    border-bottom: 2px solid #FF934F;

}

li.nav-item>a.nav-link.kontakt {
    background-color: #FF934F;
    border: 1px solid black;
    border-radius: 15px;
    padding-left: 10px;
}

li.nav-item>a.nav-link.kontakt:hover {
    background-color: #ca723c;
    border: 1px solid #443627;

}

.custom-toggler {
    border: 2px solid black;
    border-radius: 12px;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    background-color: white;
    margin-right: 10px;
}

.custom-toggler span {
    display: block;
    height: 3px;
    width: 24px;
    background-color: black;
    border-radius: 2px;
}

/* Main content (Article) styling*/
#article-inner-wrapper {
    width: 250px;
}

@media (min-width: 768px) {
    #article-inner-wrapper {
        width: 400px;
    }
}

@media (min-width: 992px) {
    #article-inner-wrapper {
        width: 550px;
    }
}

#article-inner-wrapper>p {
    max-width: 250px;
}

#article-wrapper>p>a {
    text-decoration: none;
    color: black;
}

#article-wrapper {
    width: 400px;
    margin: 20px;
}

@media (min-width: 768px) {
    #article-wrapper {
        width: 600px;
    }
}

@media (min-width: 992px) {
    #article-wrapper {
        width: 750px;
    }
}

#one-article {
    margin: 20px;
    background-color: #fafff7;
    color: #443627;
    border: 2px solid black;
}

#one-article>a {
    text-decoration: none;
    color: black;
}

.overview-article-link {
    text-decoration: none;
    color: black;
}

#one-article>a>div>h2 {
    font-style: italic;
}

#main-content p {
    margin: 10px;
    text-indent: 0;
    max-width: 750px;
    text-align: center;
}

img.article-detail {
    width: 400px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10%;
}

@media (min-width: 768px) {
    img.article-detail {
        width: 600px;
    }
}

@media (min-width: 1000px) {
    img.article-detail {
        max-width: 900px;
    }
}

.article-heading {
    margin-top: 50px;
    margin-bottom: 25px;
    font-style: italic;
    font-family: NothingYouCouldDo;
    font-weight: bold;
}

.overview-heading {
    margin: 20px;
    font-style: italic;
}

#article-content {
    max-width: 500px;
    margin: 15px 30px 15px 30px;
}

#article-description {
    max-width: 500px;
    margin: 15px 30px 15px 30px;
    font-style: italic;
}

.image-index {
    border: 1px solid black;
    display: block;
    padding: 0;
    margin: 0;
    border-radius: 10%;
}

#article-inner-wrapper .col-12.col-md-6 {
    padding-left: 0;
    padding-right: 0;
}

#article-inner-wrapper p.col-12.col-md-6 {
    margin-right: 20px;
}

.article-text {
    text-align: center;
}

/* Main content - CONTACT PAGE */

.contact-form {
    width: 300px;
}

@media (min-width: 768px) {
    .contact-form {
        width: 500px;
    }
}

@media (min-width: 1000px) {
    .contact-form {
        width: 700px;
    }
}

.submit-contact {
    width: 80px;
    height: 40px;
    background-color: #D1EFB5;
    color: #443627;
    border: 1px solid #FF934F;
    font-weight: bold;
    margin: 20px;
    border-radius: 15%;
}

.submit-contact:hover {
    background-color: #443627;
    color: #D1EFB5;
}

.submit-contact:active {
    border: 2px solid black;
}

label.control-label {
    margin-top: 20px;
}

.contact-link {
    color: #518fab;
    text-decoration: none;
}

.contact-link:hover {
    color: #FF934F;
}

.contact-link:active {
    color: #443627;
}

/*Main content - blog - index page*/
div.card {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

}

img.card-img-top {
    max-width: 500px;
    max-height: 250px;
    object-fit: cover;
}

#blog-index {
    margin-top: 30px;
    margin-bottom: 30px;
}

a>h4.card-title {
    text-decoration: none;
    color: black;
}

div.card-body>a {
    text-decoration: none;
}

.carousel-img {
    max-width: 100%;
    max-height: 500px;
    object-fit: cover;
    width: 100%;
}

.carousel-inner {
    height: 500px;
}

/* Main content HOME page */

#home-body {
    background-image: url('../images/maditation-mountains-cut.jpg');
    background-size: cover;
    /* makes it cover the entire element */
    background-position: center;
    /* centers the image */
    background-repeat: no-repeat;
    /* no tiling */
    width: 100%;
    background-attachment: fixed;
}

#home-whole-content {
    margin-top: 180px;
}

.home-section-div {
    width: 100%;
}

.home-solid-background-div {
    background-color: #ffffff;
}

.home-headline {
    color: rgb(176, 246, 255);
    font-weight: bold;
    font-family: BebasNeue;
    margin: 20px;
    text-align: center;
}

.home-solid-background-div > h1 {
    color: #ca723c;
}

.home-inline-par-img {
    height: 300px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px;
}

@media (min-width: 768px) {
    .home-inline-par-img{
        height: 360px;
    }
}

@media (min-width: 950px) {
    .home-inline-par-img{
        height: 500px;
    }
}

.home-inline-par-icon{
    width: 150px;
    height: 150px;
    border: 1px solid grey;
    border-radius: 100%;
    margin: 20px;
}

.home-paragraph {
    margin: 20px;
    text-align: center;
    max-width: 750px;
    font-size: 1.3em;
    color: #443627;
}

.home-h2-headlines {
    margin: auto 20px auto 20px;
    font-weight: 900;
    font-size: 2.3em;
    font-family: BebasNeue;
    color: #443627;
    text-align: center;
}

.home-transparent-par {
    color: rgb(176, 246, 255);
}

.home-inline-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.transparent-section {
    min-height: 500px;
}

.home-contact-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #24c46c;
}

.home-contact-link:hover {
    color: #c424bc;
}

.home-contact-link:visited {
    color: #24c46c;
}

/*Footer stylings*/

footer {
    border-top: 2px solid black;
}

#footer {
    background-image: url('/images/coverOrezany.jpg');
    background-size: cover;
    /* makes it cover the entire element */
    background-position: center;
    /* centers the image */
    background-repeat: no-repeat;
    /* no tiling */
    width: 100%;
    /* or whatever width you want */
    height: 300px;
}

.footer-link {
    height: 50px;
    width: 50px;
}

#footer-stripe {
    background-color: white;
    color: black;
    width: 100%;
}