@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-ExtraBold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: HomemadeApple;
    src: url(../fonts/HomemadeApple-Regular.ttf);
}

/*Whole page, body stylings*/
body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*HEADER stylings*/

body > header {
    z-index: 1;
    width: 100%;
    top: 0;
    width: 100%;
    top: 0;
    position: relative;
}

#header-image {
    background-color: white;
    height: 200px;    
}

#nav-menu {
    background-color: black;
    position: sticky; 
    top: 0;
}

#logo {
    height: 150px;
    width: 150px;
}

.logo {
    font-family: HomemadeApple;
}

.my-link {
    height: 50px;
    width: 80px;
    border: 3px solid white;
    background-color: black;
    margin: 3px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 20%;
}

.my-link:hover {
    border: 3px solid black;
    background-color: white;
    color: black;
}

.my-link:active {
    border: 3px solid black;
    background-color: black;
    color: white;
}

.my-link.active {
    background-color: #FF934F;
    color: #443627;
}

.about-header {
    width: 70px;
    margin: 10px;
}

/* Main content (Article) styling*/
#article-inner-wrapper {
    width: 250px;
}

@media (min-width: 768px) {
    #article-inner-wrapper {
        width: 400px;
    }
}

@media (min-width: 992px) {
    #article-inner-wrapper {
        width: 550px;
    }
}

#article-inner-wrapper > p {
    max-width: 250px;
}

#article-wrapper > p > a {
    text-decoration: none;
    color: black;
}

#article-wrapper {
    width: 400px;
    margin: 20px;
}

@media (min-width: 768px) {
    #article-wrapper {
        width: 600px;
    }
}

@media (min-width: 992px) {
    #article-wrapper {
        width: 750px;
    }
}

#one-article {    
    margin: 20px;
    background-color: #fafff7;
    color: #443627;
    border: 2px solid black;  
}

#one-article > a {
    text-decoration: none;
    color: black;
}

.overview-article-link {
    text-decoration: none;
    color: black;
}

#one-article > a > div > h2 {
    font-style: italic;
}

#main-content p {
    margin: 10px;
    text-indent: 0;
    max-width: 750px;
    text-align: center;
}

img#article-detail {
    width: 400px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10%;
}

@media (min-width: 768px) {
    img#article-detail {
        width: 600px;
    }
}

@media (min-width: 1000px) {
    img#article-detail {
        max-width: 900px;
    }
}

.article-heading {
    margin-top: 50px;
    margin-bottom: 25px;
    font-style: italic;
}

.overview-heading {
    margin: 20px;
    font-style: italic;
}

#article-content {
    max-width: 500px;
    margin: 15px 30px 15px 30px;
}

#article-description {
    max-width: 500px;
    margin: 15px 30px 15px 30px;
    font-style: italic;
}

.image-index {
    border: 1px solid black;
    border-radius: 15%;
}

.article-text {
    text-align: center;
}

/*Footer stylings*/

#footer {
    height: 200px;
    background-color: blue;
}

.footer-link {
    height: 50px;
    width: 80px;
    border: 1px solid black;
    background-color: #1b5891;
    margin: 1px;
}


